@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&family=Ubuntu:wght@300&display=swap');

:root {
    --color-1: #17161a;
    --color-2: #f4f6f4;
    --color-3: #8ea8b3;
    --color-4: #f5cc27;
    --color-5: #b54250;

    --font-heading: 'Ubuntu', sans-serif;


    --font-paragraph: 'Open Sans', sans-serif;

}

.body {
    margin: auto;
    width: 100%;
}

body {
    box-sizing: border-box;
    text-align: center;
    margin: 0;
    padding: 0;
    background-color: #E8E4C9;
}

h1, h2, h3, h4, h5, h6 {
    font-family: var(--font-heading);
}

p, a {
    font-family: var(--font-paragraph);
}

.section-current-events {
    border: 1px solid var(--color-4);
    background-color: var(--color-3);
    text-align: left;
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 30px;
}

.weather-container .weather-icon {
    width: 90px;
}

.weather-container {
    font-family: var(--font-paragraph);
    border: 1px solid var(--color-4);
    background-color: var(--color-3);
    text-align: left;
    padding-left: 30px;
    padding-right: 30px;
}

figure {
    margin: 0;
    display: flex;
}

.header-sec {
    background-color: var(--color-5);
    border: 1px solid var(--color-4);
    padding: 10px;
}

.socials img {
    width: 50px;
    border-radius: 50%;
}

/* This is for navigation */
.nav-bar {
    font-size: 24px;
    display: none; /* This should be removed in larger css */
}

.nav-bar a {
    text-decoration: none;
    color: var(--color-1);
    display: flex;
    flex-direction: column;
}

.nav-menu { /* This should be set display to none in larger css*/
    display: block;
    font-size: 2rem;
    font-weight: 700;
    padding: .5rem .75rem;
    /* Put background color */
}

.nav-menu::before {
    content: "≡";
}

.nav-menu.show::before {
    content: "×";
}

.show {
    display: block;
}
/* This ends navigation */

.main-bar img {
    /* border: 1px solid black; */
    width: 100%;
}

.footer-bar {
    padding-top: 20px;
    margin-bottom: 0;
    /* position: fixed; */
    /* bottom: 0; */
    background-color: var(--color-5);
    border: 1px solid var(--color-4);
    width: 100%;
}

.footer-logo img {
    height: 100px;
    width: 100px;
}

.location-map {
    width: 1rem;
}

.footer-bar hr {
    /* border: 1px solid black; */
    width: 80%;
}

.main-bar {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
}

.child {
    display: inline-block;
    text-align: center;
}

.contact-thing a {
    text-decoration: none;
}

.contact-thing, .contact-thing a {
    color: var(--color-1);
}

.spotlight {
    background-color: var(--color-3);
    border: 1px solid var(--color-4);
    width: 100%;
    margin: 0 5px;
}

.spotlight h2 {
    text-align: left;
    padding-left: 50px;
}

.spotlight .to-right {
    text-align: right;
    padding-right: 50px;
}

.join-but {
    position: absolute;
    background-color: var(--color-4);
    border: 1px solid var(--color-5);
    border-radius: 10px;
    width: 200px;
    height: 25px;
    padding-top: 5px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.join-but a {
    text-decoration: none;
    color: var(--color-1);
}

.main-bar-discover img {
    width: 100%;
}

.section-spotlight-advertisement {
    margin: auto;
    display: flex;
    flex-direction: column;
}

.spotlight {
    justify-content: center;
}

.child:first-child {
    width: 100%;
}

.child:not(:first-child) {
    flex: 1;
}

.form {
    display: flex;
    justify-content: center;
}

.the-form {
    display: flex;
    flex-direction: column;
    width: 300px;
}

.button {
    margin-top: 20px;
    margin-bottom: 20px;
}

.view-buttons {
    display: none;
}

.grid-view {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.list-view {
    display: block;
    width: 100%;
}

.list-view .company-card {
    margin: 5px auto;
    text-align: center;
}

.company-card {
    /* width: 26vw; */
    width: 100%;
    margin: 5px;
    border: black 1px solid;
    border-radius: 10px;
    text-align: left;
    padding: 10px;
}

.company-card img {
    max-width: 100%;
    border-radius: 30px;
}

.view-buttons button {
    padding: 1rem;
	font-weight: 700;
}