/* @media (min-width: 768px) {
    .form-container {
        display: flex;
    }
    .form-container .form {
        flex: 1;
    }
    .form-container .benefits {
        flex: 1;
    }
} */

/* .form-container form {
    display: flex;
    flex-direction: column;
}

.form-container {
    display: flex;
    justify-content: space-between
}

.form-container input, .form-container textarea, .form-container select {
    width: 300px;
}


} */

.main-bar {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.child {
    display: inline-block;
    text-align: center;
}

.child:first-child {
    width: 100%;
}

.child:not(:first-child) {
    flex: 1;
}

.form {
    display: flex;
    justify-content: center;
}

.the-form {
    display: flex;
    flex-direction: column;
    width: 300px;
}

.button {
    margin-top: 20px;
    margin-bottom: 20px;
}