:root {
    --color-1: #181F1C;
    --color-2: #020887;
    --color-3: #ED1C24;
    --color-4: #079dec;
    --color-5: #5FBB97;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

#form-container {
    margin-top: 50px;
    margin-bottom: 50px;
    /* border: 1px solid var(--color-5); */
    /* width: 50%; */
    display: flex;
    justify-content: center;
    
}

#theForm {
    padding-top: 20px;
    padding-bottom: 20px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    width: 50%;
    background-color: var(--color-5);
    border-radius: 15px;

    border: 1px solid black;
}

input, button {
    margin: auto;
    justify-items: center;
    margin-bottom: 10px;
    height: 25px;
    width: 500px;
}

#formmessage {
    
    /* padding-top: 20px; */
	visibility: none;
	/* margin: 10px; */
	/* padding: 0.5rem; */
	color: red;
}

input[type="radio"] {
	display: none;
	position: relative;
	caret-color: rgba(0, 0, 0, 0);
}

#rangevalue {
	display: flex;
	flex-direction: row-reverse;
	justify-content: center;
}

#rangevalue-container {
    display: flex;
    justify-content: center;
    padding-bottom: 30px;
}

#rangevalues {
	display: flex;
    justify-content: center;
    width: 60%;
    
	/* margin: 0 0 0 100px; */
	/* width: 50%; */
    /* text-align: center; */
}

#rangevalues option {
	flex: 1 1 auto;
}