:root {
    --color-1: #181F1C;
    --color-2: #020887;
    --color-3: #ED1C24;
    --color-4: #079dec;
    --color-5: #5FBB97;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

#form-container {
    margin-top: 50px;
    margin-bottom: 50px;
    /* border: 1px solid var(--color-5); */
    /* width: 50%; */
    display: flex;
    justify-content: center;
    
}

#theForm {
    padding-top: 20px;
    padding-bottom: 20px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    width: 50%;
    background-color: var(--color-5);
    border-radius: 15px;
}

.stars {
    padding-bottom: 30px;
}

input, button {
    margin: auto;
    justify-items: center;
    margin-bottom: 10px;
    height: 25px;
    width: 500px;
}

#formmessage {
    
    /* padding-top: 20px; */
	visibility: none;
	/* margin: 10px; */
	/* padding: 0.5rem; */
	color: red;
}

input[type="radio"] {
	display: none;
	position: relative;
	caret-color: rgba(0, 0, 0, 0);
}

.stars {
	display: flex;
	flex-direction: row-reverse;
	justify-content: center;
}

.stars > label {
	color: gold;
	width: 30px;
	height: 30px;
	font-size: 2rem;
	margin-left: 5px;
	display: flex;
	align-items: center;
	caret-color: rgba(0, 0, 0, 0); /* remove blinking cursor*/
}

.stars > label:hover {
	color: #000;
}

.stars > label::before {
	content: "\2606";
}

.stars input:checked ~ label::before {
	content: "\2605";
}