/* This will apply for bigger screens */

@media only screen and (min-width: 600px) {

    .header-image {
        width: 200px;
    }

    .nav-bar {
        display: block;
        overflow: auto;
    }

    .nav-bar a {
        float: left;
        width: 25%;
        text-align: center;
    }

    .nav-bar a:hover {
        background-color: bisque;
    }

    .nav-bar a:first-of-type:hover {
        background-color: var(--color-3);
    }

    .sec {
        display: grid;
        grid-template-columns: 3fr 2fr;
    }

    .card a:hover {
        background-color: skyblue;
    }

    .footer {
        padding: 10px;
    }

    .footer p:not(:last-child){
            display: inline-flex;
            /* justify-content: center;
            align-items: center; */
    }

    #flag-icon {
        height: 25px;
    }
}